<!DOCTYPE html>
<html>
  <head>
    <title>Craftify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%=current_user.id%>,
          "username": "<%= current_user.username %>"
        }
      </script>
    <% end %> 

    <link rel='icon' href='https://community.spotify.com/t5/image/serverpage/image-id/28936i76F1ECE491E76C35/image-size/small?v=mpbl-1&px=-1'>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
